<div class="bg-container">
  <div class="bg-cover"></div>
</div>

<div class="container">
  <h1 class="title">Rapture</h1>

  <div class="description">
    <p>
      Time survival game with rougelike elements <br />
      Choose from various spells and items and be overpower <br />

      <br />
      <br />
      Everything stacks: <br />
      All items, spells and potions stack. <br />
      That means there is no limit to how powerful you can become. <br />

      <br />
      <br />
      Wave-based combat: <br />
      creatures appear in waves. How many waves can you survive?
    </p>
  </div>

  <div class="contact">
    CONTACT US:
    <a href="mailto:jeferson.belmiro@gmail.com">jeferson.belmiro@gmail.com</a>
  </div>

  <div class="policies">
    <ul>
      <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
    </ul>
    <ul>
      <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
    </ul>
  </div>
</div>
