* {
  color: #f0f0f0;
}

.badges {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    img {
      max-height: 100px;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0 100px 0;
}

.title {
  margin-bottom: 36px;
  font-size: 70px;
}

.contact {
  margin: 36px 0;
}

.bg-container {
  z-index: -1;
  background-color: #222;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.bg-cover {
  background-image: url(../../../assets/bg.png);
  background-attachment: initial;
  will-change: transform;
  transform: translateY(0px) translateZ(0px);
  pointer-events: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  backface-visibility: hidden;
  perspective: 1000;
  height: 100%;
  width: 100%;
}
